/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 jun 2023, 01:11:42
    Author     : jonaw
*/

.header{
    width: 100%;
    height: fit-content;
    background: cadetblue;
    color: white;
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: disc;
}



